/*



Theme Name:     Enfold Child



Description:    Child theme for the Enfold theme



Author:         Rouge Media



Author URI:     http://www.rouge-media.com



Template:       enfold



Version:        0.1.0



*/	@import url("../enfold/css/base.css");
@import url("../enfold/css/grid.css");
@import url("../enfold/css/layout.css");
@import url("../enfold/css/custom.css");
@import url("../enfold/css/shortcodes.css");	
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);	/*@import url("../enfold/config-templatebuilder/avia-template-builder/assets/fonts/entypo-fontello.ttf");*/	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
font-family: 'Source Sans Pro', sans-serif;
}



h3, h4, h5, h6 {
    font-weight: 300;
}
/*ADDED AS A RESULT OF THEME UPDATE*/

/*ADDED AS A RESULT OF THEME UPDATE END*/
body {
    font-size: 15px;
}
.header_color .av-hamburger-inner, .header_color .av-hamburger-inner::before, .header_color .av-hamburger-inner::after {
    background-color: #fff;
}
/* NEW THEME 2017*/
#top .scroll-down-link {
    /*color: #00afe9;*/
}
.home .avia-builder-el-0.avia-fullscreen-slider .avia-slideshow {
    max-height: 650px;
    padding-bottom: 50px;
}
.home .avia-builder-el-0.avia-fullscreen-slider .avia-slide-wrap .av-slideshow-caption{
    z-index: 50;
}
.home .avia-builder-el-0.avia-fullscreen-slider .avia-slide-wrap:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0063b6+0,00afe9+100&0.8+0,0.2+100 */
    background: -moz-linear-gradient(top, rgba(0,99,182,0.8) 0%, rgba(0,175,233,0.2) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,99,182,0.8) 0%,rgba(0,175,233,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,99,182,0.8) 0%,rgba(0,175,233,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0063b6', endColorstr='#3300afe9',GradientType=0 ); /* IE6-9 */
    /*mix-blend-mode: multiply;*/
    z-index: 10;
    width: 100%;
    min-height: 100%;
}

.main_color .special_amp {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit!important;
}

.block {
    padding: 80px 0;
}
#main-banner {
    /*min-height: 500px;*/
    position: relative;
    background-size: cover;
}

#main-banner .av-section-color-overlay-wrap {
    /*min-height: 450px;*/
    /*padding-top: 100px;*/
}
#main-banner .container {
    z-index: 50;
}
#main-banner:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0063b6+0,00afe9+100&0.8+0,0.2+100 */
    background: -moz-linear-gradient(top, rgba(0,99,182,0.8) 0%, rgba(0,175,233,0.2) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,99,182,0.8) 0%,rgba(0,175,233,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,99,182,0.8) 0%,rgba(0,175,233,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0063b6', endColorstr='#3300afe9',GradientType=0 ); /* IE6-9 */
    /*mix-blend-mode: multiply;*/
    z-index: 10;
    width: 100%;
    min-height: 100%;
}


#main-banner .avia-image-container.avia-align-center .avia-image-container-inner {
    width: auto;
}

body .av-special-heading .av-special-heading-tag {
    font-size: 32px;
    margin-bottom: 25px;
}
#main-banner .av-special-heading .av-special-heading-tag {
    font-size: 47px;
    margin-bottom: 0;
}
#footer-widgets .widget {
    margin: 0;
    padding: 0;
}
#footer-widgets .news-thumb{
    display: none;
}
#footer-widgets .news-content,
.tooltips .inner_tooltip {
    font-size: 15px;
}
#top .av-large-testimonial-slider .avia-testimonial-meta-mini {
    text-align: center;
}
.caption_left .slideshow_caption,
.caption_right .slideshow_caption {
    min-width: 60%;
}
.caption_right {
    text-align: right;
}
.avia-caption-title,
.avia-caption-content p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
}
.avia-slideshow-dots.avia-slideshow-controls {
    display: none;
}
#top .avia-slideshow-button {
    font-size: 17px;
    border-radius: 0;
    text-transform: uppercase;
    padding: 15px 26px;
    font-weight: normal;
}
.avia-video iframe,
.solution-video iframe,
div .avia-video .avia-iframe-wrap {
    width: 100%;
    height: 100%;
}
#socket .copyright {
    float: left;
    padding-top: 3px;
    margin-right: 10px;
}
/**/


#competition {
    margin: 15px 0 0 0;
    min-height: 300px;
    padding: 40px 0 0 0;
}

.gradient
{

	height:5px;
	line-height:5px;
	font-size:5px;

 	/* IE10 */ 

    background-image: -ms-linear-gradient(left, #0063b6 0%, #00ace6 33%, #0082c4 66%, #00acd3 100%);

    /* Mozilla Firefox */ 

    background-image: -moz-linear-gradient(left, #0063b6 0%, #00ace6 33%, #0082c4 66%, #00acd3 100%);

    /* Opera */ 

    background-image: -o-linear-gradient(left, #0063b6 0%, #00ace6 33%, #0082c4 66%, #00acd3 100%);



    /* Webkit (Safari/Chrome 10) */ 



    background-image: -webkit-gradient(linear, left, right, color-stop(0, #0063b6), color-stop(0.3, #00ace6), color-stop(0.6, #0082c4), color-stop(1, #00acd3));



    /* Webkit (Chrome 11+) */ 



    background-image: -webkit-linear-gradient(left, #0063b6 0%, #00ace6 33%, #0082c4 66%, #00acd3 100%);



    /* Proposed W3C Markup */ 



    background-image: linear-gradient(top, #0063b6 0%, #00ace6 33%, #0082c4 66%, #00acd3 100%); 



    /* IE6-9  



    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a92400', endColorstr='#ffba33');*/  



    background-color: #0063b6;



}	/*#top .single #wrap_all #main .container_wrap .container .template-blog .template-single-blog{



    padding: 40px 0 20px 0;



}*/



/*#wrap_all #main #layer_slider_1{



    padding-top: 0;



}*/



/*#wrap_all #main .container_wrap{



    padding: 40px 0 20px 0;



}*/

#header_main div .logo
{
    /*max-width:auto !important;*/
}


/*#main{ padding:50px 0 0 0;}*/
/*.home #main, .parent-pageid-250 #main {padding:0px;}	*//* COPYRIGHT FOOTER */



#socket .container {



    padding-top: 50px;



}



#socket .sub_menu_socket {



    float: left;



    margin: 0;



}



#socket .sub_menu_socket ul {



    margin:10px 0 30px 0;



}



#socket .sub_menu_socket li:first-child {



   padding: 0 10px 0 0;



}



#socket .sub_menu_socket li {



    border-left-style: solid;



    border-left-width: 1px;



    border-color:#eeeeee;



}



.copyright{

    /*clear:both;*/

    float: left;
    padding: 4px 0 0 0;



}

#socket .sub_menu_socket li:last-child {
    padding-right: 10px;
    border-right: 0;
}


.title_container{ display: none;}	/* FOOTER */



#footer {



    padding: 0;



    z-index: 1;



}



.container_wrap {



    border: none;



    clear: both;



    position: relative;



}



.footer_form{

display: none;

    background-color: #00AEE9;



    color: #fff;



}



#footer .widget {



    margin: 20px;



    padding: 0;



}



#footer .widgettitle {



    color: #fff;



}	



/* FOOTER FORM */	
#wpcf7-f1089-w1-o1 .wpcf7-form{margin: 0;}
#wpcf7-f1089-w1-o1 .wpcf7-form p {
    float: left;
    padding: 0px;
    margin:0;
}
#wpcf7-f1089-w1-o1 .wpcf7-form p span input {
    /*min-width: 150px;
    max-width: 150px;*/
    width:150px;
    margin: 0 0 0 10px;
}
#wpcf7-f1089-w1-o1 .wpcf7-submit{
    margin: 0 0 0 10px;
    border-radius: 2px;
}
#wpcf7-f1089-w1-o1 .wpcf7-validation-errors{
    display: none!important;
}
#wpcf7-f1089-w1-o1 .wpcf7-mail-sent-ok{
    border: none!important;
    margin: 0;
    font-weight: bold;
    float: left;
    padding: 0;
}
#wpcf7-f1089-w1-o1 span.wpcf7-not-valid-tip {
    color: #fff;
    font-weight: bold;
    display: block;
    font-size: 1em;
    margin: 0 0 0 10px;
}


#top .footer_color .av_three_fourth h3{
    margin: 0;
    max-width:300px;
    clear: none;
    float: left;
    display: inline;
    margin-right: 10px;
    padding-top: 4px;   
}

/*#top .footer_color .av_three_fourth fieldset p{
    margin: 0;
    max-width:128px;
    clear: none;
    float: left;
    display: inline;
    margin-right: 10px;
}
#top .footer_color .av_three_fourth fieldset p label{
    display: none;
}

#top .footer_color .av_one_fourth{
    margin: 0;
}*/

#top .footer_color .av_one_fourth h3{
    margin: 0;
    max-width:100px;
    clear: none;
    float: left;
    display: inline;
    margin-right: 10px;
    padding-top: 4px;    
}	

#top .footer_color .input-text, #top .footer_color input[type="text"], #top .footer_color input[type="input"], #top .footer_color input[type="password"], #top .footer_color input[type="email"], #top .footer_color input[type="number"], #top .footer_color input[type="url"], #top .footer_color input[type="tel"], #top .footer_color input[type="search"], #top .footer_color textarea, #top .footer_color select {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #aaa;
    border-radius: 2px;
}

.footer_color .primary-background, .footer_color .primary-background a, div .footer_color .button, .footer_color #submit, .footer_color input[type="submit"], .footer_color .small-preview:hover, .footer_color .avia-menu-fx, .footer_color .avia-menu-fx .avia-arrow, .footer_color.iconbox_top .iconbox_icon, .footer_color .avia-data-table th.avia-highlight-col, .footer_color .avia-color-theme-color, .footer_color .avia-color-theme-color:hover, .footer_color .image-overlay .image-overlay-inside:before, .footer_color .comment-count, .footer_color .av_dropcap2 {
    background-color: #80d7f4;
    color: #fff;
    border:none;
}

.footer_color .avia_ajax_form .button {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    padding: 8px 20px;
}

#top .footer_color .avia_ajax_form .text_input, #top .footer_color .avia_ajax_form .select, #top .footer_color .avia_ajax_form .text_area {
   border-radius: 2px;
    display: inline;
    float: left;
    margin-bottom: 0;
    padding: 8px 5px;
    max-width: 100%;
}	


/* HEADER AND NAVIGATION */	/*logo*/


.logo {
    padding: 10px 0;

}
.logo img{

/*padding:35px 0 0 0; padding:20px 0;CHANGED AS A RESULT OF THEME UPDATE*/



display: block;



/*width: auto;*/



/*height: auto;*/







}	

/* NAVIGATION */
#header_main {
    position: absolute;
    width: 100%;
    border: 0;
    background-color: transparent;
    /*background-color: #f2f2f2;*/
}
#header_main .container { height:132px; line-height: 132px; border: none;}

.main_menu{
   /* clear:none;
    position: relative; absolute CHANGED AS A RESULT OF THEME UPDATE
    z-index: 99998;
    height:40px;
    margin:0;
    left:0;
    top:20px; 112px CHANGED AS A RESULT OF THEME UPDATE
    background-color: #333;*/
}
.header_color .header_bg {
    background-color: transparent;
}

/* NEW THEME */
/*.main_menu>div, .main_menu ul:first-child {
    height: 40px;
}*/
.main_menu ul:first-child > li > a {
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    padding: 0 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
.header_color .main_menu ul:first-child > li > a,
.header_color .main_menu ul:first-child > li > a span {
    color: #ffffff;
}
.header_color .main_menu ul:first-child > li.current-menu-item > a,
.header_color .main_menu ul:first-child > li.current-menu-item > a span,
.header_color .main_menu ul:first-child > li.current_page_item > a,
.header_color .main_menu ul:first-child > li.current_page_item > a span {
    color: #ffffff;
    opacity: 0.8;
    /*color: #00afe9;*/
}
.av_seperator_big_border .av-main-nav > li > a {
    border-left-style: none;
    border-left-width: 0;
}

.av-main-nav li:hover .avia-menu-fx, .current-menu-item > a > .avia-menu-fx, .av-main-nav li:hover .current_page_item > a > .avia-menu-fx {
    display: none;
}

/* SUB NAVIGATION */
.html_header_top .header_color .main_menu ul:first-child >li > ul, .html_header_top #top .header_color .avia_mega_div > .sub-menu {
    border-top: 0;
}
#top .av-main-nav ul.sub-menu {
    min-width: 208px;
    box-shadow: none;
    margin-top: 0;
}
#top .av-main-nav ul.sub-menu a {
    float: left;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    height: auto;
    line-height: 23px;
    max-width: none;
    min-height: 23px;
    padding: 8px 18px;
    text-align: left;
    text-decoration: none;
    width: 100%;
    border: none;
    color: #fff;
    /*background-color: #00afe9;*/
    background-color: #333333;
}
#top .av-main-nav ul.sub-menu a span {color: #fff;}
#top .av-main-nav ul.sub-menu a:hover {
    /*background-color: #6BD0F2;*/
    background-color: #222222;
}
#top .av-main-nav ul.sub-menu ul {
    border-top-style: none;
    border-top-width: 0;
    padding-top: 0px;
}

/* SLIDER */


.avia-layerslider[style]{
    background-color: #ffffff;
}

#layer_slider_1{



    box-shadow: none;



    z-index: 1;



}



.content, .sidebar {



    -moz-box-sizing: content-box;



    min-height: 1px;



    padding-bottom: 0px;



    padding-top: 0px;



    z-index: 1;



}



.flex_column .avia-slideshow {



    margin: 0 0 20px 0;



}



.main_color, .main_color .site-background, .main_color .first-quote, .main_color .related_image_wrap, .main_color .gravatar img .main_color .hr_content, .main_color .news-thumb, .main_color .post-format-icon, .main_color .ajax_controlls a, .main_color .tweet-text.avatar_no, .main_color .big-preview, .main_color .toggler, .main_color .toggler.activeTitle:hover, .main_color #js_sort_items, .main_color.inner-entry, .main_color .grid-entry-title, .main_color .related-format-icon, .grid-entry .main_color .avia-arrow, .main_color .avia-gallery-big, .main_color .avia-gallery-big, .main_color .avia-gallery img, .main_color .grid-content {



    background-color: #ffffff;



    color: #666666;




}



.avia-layerslider .main_color .avia-shadow {



    box-shadow:  none;



}	/* HOME PAGE */	/* PROMOTION */

#promotion-container{
    /*z-index: 2;*/
    z-index: 50;
}

#promotion-container .post-entry{
    padding:25px;
    background-color:#fff;
    position:relative;
    top:-50px;
}

#promotion-container .flex_column{
    position:relative;   
}

#promotion-container .av_textblock_section{
    position:absolute;
    top:0;
    left:0;
    height:80px;
    width:100%;
    display:block;
    background-image:url(images/promotion-overlay-lrg.png);
    background-repeat:no-repeat;
    background-position:bottom left;
    color:#fff;
    overflow:hidden;
}

#promotion-container .av_textblock_section:hover{
    /*height:225px;  */ 
    height:225px;  
}

#promotion-container .av_textblock_section h2{	
    padding:20px 15px 30px 15px;
    font-weight:300;
    font-size:26px;
    text-transform:uppercase;
    line-height:100%; 
    color:#fff; 
    margin:0;
}

#promotion-container .av_textblock_section p
{
    max-width:200px;
 	font-size:18px;
    padding:0 15px;
    margin:0 0 10px 0; 
    line-height:120%;  
}
.avia-image-container.avia-align-center .avia-image-container-inner {
    margin: 0 auto;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
}
#promotion-container .avia-image-container{
 /*border: #cc0000 10px;*/
 	max-height:217px;
    overflow:hidden;
	display:block;
}

#promotion-container img.avia_image {
    border-radius: 0;
    width: 100%;
    height: auto;
}



/* NEWS TICKER */



#news-container .av_one_fourth{



    margin: 20px 0;



}



#news-container .flex_column:after {



    content: " ";



    display: block;



    height: 0;



    overflow: inherit;



    visibility:inherit ;



    width: 0;



}



.mtphr-dnt-wrapper {



    background-color: #F2F2F2;



    border-radius: 0;



    display: block;



    font-size: 12px;



    height: auto;



    margin: 35px 0 0;



    padding: 0;



    text-align:left;



    width: 100%;



}



.gticker {



    display: block;



    height: auto;



    overflow: inherit;



    position: relative;



    width: 100%;



}



.mtphr-dnt-title, .main_color h3.mtphr-dnt-title  {



    color: #00AFE9;



    font-size: 23px;



    line-height: 27px;



    font-weight: 300;



    padding:0 20px 0 0;



    font-family: 'Source Sans Pro', sans-serif;



}



.mtphr-dnt-tick a{



    color: #666666;



    font-size: 23px;



    line-height: 27px;



    font-weight: 300;



    font-family: 'Source Sans Pro', sans-serif;  



}	#news-container .av_one_fourth p



{



 		width:90px;  



    float:right; 



}

/*@media only screen and (min-width: 1024px) and (max-width: 1130px){
@media only screen and (min-width: 990px) and (max-width: 1023px){
@media only screen and (min-width: 768px) and (max-width: 989px){
@media only screen and (min-width: 480px) and (max-width: 767px) {
@media only screen and (max-width: 767px) {
@media only screen and (max-width: 479px) {*/

@media only screen and (max-width: 767px) {
.responsive #socket .sub_menu_socket{float:none; margin:0px;}
    .responsive .logo img {
        padding: 10px 0;
    }
    .responsive #top #header_main > .container .main_menu  .av-main-nav > li > a {
        padding: 0;
        background-color: transparent;
    }
    .main_menu{
        background-color: transparent;
    }
    .html_av-overlay-side #top .av-burger-overlay-scroll {
        background: transparent;
    }
    .html_av-overlay-side #top .av-burger-overlay-scroll li,
    .html_av-overlay-side #top #wrap_all div .av-burger-overlay-scroll #av-burger-menu-ul a:hover {
        background-color: #333;
    }
    .html_av-overlay-full #av-burger-menu-ul li {
        font-size: 25px;
    }


    #news-container .av_one_fourth p



    {



        float:none;



        margin:auto;   



    }



}



#news-container .av_one_fourth .avia-button.avia-position-right



{



 		display:block;



    margin:auto;  



    float:none;



}	/* QUOTE */



#vmware{



    margin: 15px 0;



    padding: 40px 0;



    min-height: 280px;



}



#vmware p{



    font-size: 23px;



    line-height: 27px;



    font-weight: 300;



    font-family: 'Source Sans Pro', sans-serif;



    color: #fff;



    text-align: center;



    max-width: 570px;



    margin: 0 auto;



    padding:20px 0;



}



#vmware .avia-color-grey{



    position: absolute;



    bottom:-10px;



    right:50%;



    margin-right: 4px;



}



#vmware .avia-color-theme-color{



    position: absolute;



    bottom:-10px;



    left:50%;



    margin-left: 4px;



}	



/* PARTNERS */



#partner-container {



    box-shadow: none;



}



#partner-container h3{



    display: none;



}



#partner-container .av_one_full{



    padding-bottom: 20px;



}



#partner-container .av_one_full, #partner-container .av_one_fourth{



    text-align: center;



}



#partner-container .av_one_fourth span {



    display: block;



    height: 112px;



    width: 112px;



    line-height: 60px;	    -moz-border-radius: 56px; /* or 50% */



    border-radius: 56px; /* or 50% */	    background-color: #fff;



    text-align: center;



    font-size: 56px;



    font-family: 'Source Sans Pro', sans-serif;



    margin:0 auto;



    padding-top: 23px;



}	#partner-container .av_one_fourth a{



    position: absolute;



    left:0%;



    right:0%;



    margin:33px 0;



}



#partner-container .av_one_fourth div{



    position: absolute;



    margin-top: 139px;



}	



/* WANT TO KNOW MORE */



#wanttoknowmore{



    margin: 0;



    padding: 20px 0;



}



#wanttoknowmore p{



    font-size: 23px;



    line-height: 27px;



    font-weight: 300;



    font-family: 'Source Sans Pro', sans-serif;



    color: #666;



    text-align: center;



    max-width: 1080px;



    margin: 0 auto;



    padding:20px 0;



}



#wanttoknowmore .avia-color-grey{



    margin: 0 5px 0 10px;



}



#wanttoknowmore .avia-color-green,



#wanttoknowmore .avia-color-orange,



#wanttoknowmore .avia-color-red,



#wanttoknowmore .avia-color-blue{



    margin: 0 10px 0 5px;



}	



/* MISCELLANEOUS */



span.red{color:#cc3333;}



span.green{color:#83a846;}



span.orange{color:#EE6129;}



span.blue{color:#008DC7;}	.avia-button.avia-color-red, .avia-button.avia-color-red:hover {



    background-color: #cc3333;



    border-color: #cc3333;



    color: #FFFFFF;



}



.avia-button.avia-color-blue, .avia-button.avia-color-blue:hover {



    background-color: #008DC7;



    border-color: #008DC7;



    color: #FFFFFF;



}



.avia-button.avia-color-orange, .avia-button.avia-color-orange:hover {



    background-color: #EE6129;



    border-color: #E05A2B;



    color: #FFFFFF;



}



.avia-button.avia-color-blue, .avia-button.avia-color-blue:hover {



    background-color: #008DC7;



    border-color: #008DC7;



    color: #FFFFFF;



}



.recentcomments, .widget_recent_entries li {



    display: block;



    font-size: 13px;



    line-height: 18px;



    padding: 7px 0;



    margin: 0;



}	


/* ICON LIST */

.main_color .avia-icon-list .iconlist_icon {   
    left: 2px;
    margin: 0;
    padding: 0;
    position: absolute;}

.avia-icon-list .article-icon-entry{padding-left:70px;}


/*YouTube*/
#videos .iconlist_icon {
    background-color: #e02927;
}

/*Generic*/
.main_color .avia-icon-list .iconlist_icon {
    background-color: #00afe9;
}

/*Best Practice Guides*/
#best-practice .entry-content-header .iconbox_icon {
    color: #00afe9;
}


.avia-icon-list .iconlist_content_wrap {



    min-height: 1.5em;



    overflow: visible;



}	.avia-icon-list .iconlist_title {



    margin-bottom: 0;



    position: relative;



    text-transform: none;



    top: 8px;



}



.avia-icon-list .iconlist_icon {



    border-radius: 500px;



    color: #FFFFFF;



    float: left;



    font-size: 25px;



    height: 50px;



    line-height: 50px;



    margin-left: 2px;



    margin-right: 25px;



    position: relative;



    text-align: center;



    width: 50px;



    z-index: 5;



}



.avia-icon-list .iconlist-timeline {



    border-right-style: dashed;



    border-right-width: 1px;



    height: 99%;



    left: 27px;



    position: absolute;



    top: 1%;



    width: 1px;



}		/* HEADINGS */



.av-special-heading-h1 .special-heading-border{height: 3.4em;}



.av-special-heading-h2 .special-heading-border{height: 3.2em;}



.av-special-heading-h3 .special-heading-border{height: 1.9em;}



.av-special-heading-h4 .special-heading-border{height: 1.6em;}



.av-special-heading-h5 .special-heading-border{height: 1.5em;}



.av-special-heading-h6 .special-heading-border{height: 1.4em;}	body .av-special-heading h1, 



body .av-special-heading h2, 



body .av-special-heading h3, 



body .av-special-heading h4, 



body .av-special-heading h5, 



body .av-special-heading h6 {



    float: left;



    margin: 0;



    padding: 0;



    font-weight: 300;



}



.template-page .entry-content-wrapper h1, .template-page .entry-content-wrapper h2 {



    letter-spacing: normal;



    text-transform: none;



}	



/* ALLICANCE AND PARTNERS */



#alliance-and-partners{



    padding-bottom: 20px;



}



#alliance-and-partners .av-special-heading h2{



    color: #CCCCCC;



} 	/* VIDEOS */



#videos .avia-video{



    background:url(/wp-content/uploads/2013/12/video-shadow.png) no-repeat bottom;



}



.avia-video iframe, .js_active .avia-iframe-wrap iframe, div .avia-video .avia-iframe-wrap {



    /*height: 90%;*/



    left: 0;



    right:0;



    padding: 0;



    position: absolute;



    top: 0;



    /*width: 90%;*/



    margin: 0 auto;



}	

/* ======================================================================================================================================================
Testimonials
====================================================================================================================================================== */

.main_color .avia-slider-testimonials .avia-testimonial-content, 
.main_color .avia-testimonial-arrow-wrap .avia-arrow 
{
    color: #fff;
    background: none repeat scroll 0 0 #00afe9;
}

.avia-slider-testimonials .avia-testimonial-content {
    border-radius: 8px;
    border-style: solid;
    border-width: 0;
    padding: 15px;
}

.avia-testimonial-arrow-wrap .avia-arrow {
    border-width: 0;
}
/*.main_color .avia-testimonial-content strong{color: #00afe9;}*/



/* MOBILE NAVIGATION */	

.responsive #top .mobileMenu{color:#333;}	/*Salesforce*/

.post-entry-516 .avia-builder-el-no-sibling { margin-top: 0px;}	

/* MOBILE STYLES */	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

    @media only screen and (max-width: 989px) {
.responsive #top .av-main-nav .menu-item {
    display: none;
}
.responsive #top .av-main-nav .menu-item-avia-special {
    display: block;
}
#top .av_seperator_big_border .av-main-nav > li:last-child > a, #top .av_seperator_big_border .av-main-nav > #menu-item-search > a {
    border-right-style: none;
}
.caption_left .slideshow_caption,
.caption_right .slideshow_caption {
    min-width: 100%;
}
.avia-caption-content p,
.avia-caption-title {
    text-align: center;
}
#top .avia-slideshow-button {
    font-size: 13px;
    display: block;
    max-width: 200px;
    margin: 0 auto;
}

        .responsive #socket .copyright{padding: 0 0 0 0;}
        .responsive #socket .sub_menu_socket{float:none; margin:0px;}
        .responsive .logo { float:none; height: 90px;}
        .responsive #top .footer_color .av_three_fourth fieldset {margin-right: 10px;}
        .responsive #top .footer_color .av_three_fourth fieldset p {max-width: 989px;margin: 5px 0;}     


        .responsive #promotion-container .av_textblock_section{height:50px;}
        .responsive #promotion-container .av_textblock_section:hover{height:152px;}
        .responsive #promotion-container .av_textblock_section h2{font-size:21px;padding:8px 15px 15px 15px;}
        .responsive #promotion-container .av_textblock_section p{font-size:15px;}
        .responsive #promotion-container .post-entry{top:-35px;}

        .responsive #wpcf7-f1089-w1-o1 .wpcf7-form h3{margin-bottom:10px;}
        .responsive #wpcf7-f1089-w1-o1 .wpcf7-form p {float:none;clear:both;}
        .responsive #wpcf7-f1089-w1-o1 .wpcf7-form p span input {width:100%;margin: 5px 0 5px 0;}
        .responsive #wpcf7-f1089-w1-o1 .wpcf7-submit{margin: 5px 0 5px 0;}

    }

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .home .avia-builder-el-0.avia-fullscreen-slider .avia-slideshow {
    max-height: 100%;
    min-height: 550px;
    /*padding-bottom: 50px;*/
}
body .av-special-heading .av-special-heading-tag {
    font-size: 27px;
    margin-bottom: 20px;
}
#main-banner .av-special-heading .av-special-heading-tag {
    font-size: 42px;
}
        .caption_left .slideshow_caption,
.caption_right .slideshow_caption {
    min-width: 100%;
}
.avia-caption-content p,
.avia-caption-title {
    text-align: center;
}
#top .avia-slideshow-button {
    font-size: 13px;
    display: block;
    max-width: 200px;
    margin: 0 auto;
}
        #main {
    padding: 50px 0;
}
        .responsive #socket .sub_menu_socket{float:none; margin:0px;}
        .responsive #socket .copyright{padding: 0 0 0 0;}
        .responsive #top .footer_color .av_three_fourth fieldset p {max-width: 767px;margin: 5px 0;}
        .responsive #vmware{padding: 20px 0;}
        .responsive #vmware p{font-size: 22px;line-height: 27px;}
        .responsive .logo { float:none; height: 90px;}
        .responsive .header-search { display:none;/*position: static;*/}
        /*.responsive .main_menu, .responsive #top .mobileMenu{position: static;background-color: #fff; margin: 10px 0;}*/


        .responsive #promotion-container .av_textblock_section{height:80px;/*left:44px;*/}
        .responsive #promotion-container .av_textblock_section:hover{height:225px;}
        .responsive #promotion-container .av_textblock_section h2{font-size:26px;padding:20px 15px 30px 15px;}
        .responsive #promotion-container .av_textblock_section p{font-size:18px;}
        .responsive #promotion-container .post-entry{top:0px;}

        .responsive #wpcf7-f1089-w1-o1 .wpcf7-form p span input {width:100%;margin: 5px 0 5px 0;}
        .responsive #wpcf7-f1089-w1-o1 .wpcf7-submit{margin: 5px 0 5px 0;}
    }


    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

    @media only screen and (max-width: 479px) {

        #header_main {
    position: relative;
    width: 100%;
    border: 0;
    background-color: #00afe9;
    /*background-color: #f2f2f2;*/
}
body .av-special-heading .av-special-heading-tag {
    font-size: 27px;
    margin-bottom: 20px;
}
#main-banner .av-special-heading .av-special-heading-tag {
    font-size: 42px;
}
/*#main-banner .av-section-color-overlay-wrap {
    min-height: 450px;
    padding-top: 100px;
}*/

        .caption_left .slideshow_caption,
.caption_right .slideshow_caption {
    min-width: 100%;
}
.avia-caption-content p,
.avia-caption-title {
    text-align: center;
}
#top .avia-slideshow-button {
    font-size: 13px;
    display: block;
    max-width: 200px;
    margin: 0 auto;
}
        .responsive #socket .sub_menu_socket{display: block;}
        .responsive #socket .copyright{padding: 0 0 0 0;}
        .responsive #top .footer_color .av_three_fourth fieldset p {max-width: 479px; margin: 5px 0;}
        .responsive #vmware{padding: 20px 0;}
        .responsive #vmware p{font-size: 17px;line-height: 22px;}
        .responsive .logo { float:none; height: 90px;}
        .responsive .header-search { display:none;/*position: static;*/}
        /*.responsive .main_menu, .responsive #top .mobileMenu{position: static;background-color: #fff; margin: 10px 0;}*/
        .responsive .iconlist_title{ font-size: 15px;}

        .responsive #promotion-container .av_textblock_section{height:50px;}
        .responsive #promotion-container .av_textblock_section:hover{height:177px;}
        .responsive #promotion-container .av_textblock_section h2{font-size:21px;padding:8px 15px 15px 15px;}
        .responsive #promotion-container .av_textblock_section p{font-size:15px;}
        .responsive #promotion-container .avia-image-container{height:177px;}
        .responsive #promotion-container .post-entry{top:0px;}

        .responsive #wpcf7-f1089-w1-o1 .wpcf7-form p span input {width:100%;margin: 5px 0 5px 0;}
        .responsive #wpcf7-f1089-w1-o1 .wpcf7-submit{margin: 5px 0 5px 0;}

        .mtphr-dnt-tick-container {clear: both;}
        .mtphr-dnt-tick-contents {width: 100%;}

    }